# First steps with MongoDB and PyMongo


*   Connection to Mongo
*   Basic database, collection management
*   CRUD  one document
*   CRUD  many documents

# 1. Install PyMongo (if required)

In [1]:
# Instaling PyMongo, this is the interface to connect to MongoDB with Python
! python -m pip install pymongo==3.7.2

Collecting pymongo==3.7.2
  Downloading pymongo-3.7.2.tar.gz (628 kB)
Building wheels for collected packages: pymongo
  Building wheel for pymongo (setup.py): started
  Building wheel for pymongo (setup.py): finished with status 'done'
  Created wheel for pymongo: filename=pymongo-3.7.2-cp38-cp38-win_amd64.whl size=277967 sha256=9881dd693886d9df4e5f0a7111a886b25b846606a510090486ed4823bd492916
  Stored in directory: c:\users\84123\appdata\local\pip\cache\wheels\28\62\b5\ede9674d1415d2c15c3e805e6cc7debfcdf380105da0887776
Successfully built pymongo
Installing collected packages: pymongo
  Attempting uninstall: pymongo
    Found existing installation: pymongo 3.12.0
    Uninstalling pymongo-3.12.0:
      Successfully uninstalled pymongo-3.12.0
Successfully installed pymongo-3.7.2

# 2. Install Mongo and establish connection

To practice MongoDB, you can use a free service with limited storage to train or test your code.

Here for the example, I use https://www.clever-cloud.com/en/

Other services:

https://studio3t.com/knowledge-base/articles/cheap-free-mongodb-hosting/

Install locally MongoDB: https://docs.mongodb.com/manual/administration/install-community/

In [13]:
import datetime                            # Imports datetime library

import pymongo
from pymongo import MongoClient

# uri (uniform resource identifier) defines the connection parameters 
# mongodb:// + domain + port + '/' + username
uri = 'mongodb://localhost:27017'
# start client to connect to MongoDB server 
client = MongoClient( uri )

In [14]:
client.stats                                # .stats  show details about the client

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stats')

# 3. Basic Database management operations

In [15]:
# Show existing database names
client.list_database_names()

['admin', 'config', 'linh', 'local']

In [7]:
# Set database name to work with. If it doesn't exist, it will be created as soon as one document is added.
db = client.local

In [18]:
# Delete a database
# client.drop_database('local')

# 4. Basic Collection management operations

In [9]:
# Create a new collection. We can create the collection or leave to MongoDB to create it as soon as a document is generated.
db.create_collection('adressbook')       # Optional collection creation

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'local'), 'adressbook')

In [12]:
# Show Collections. Query returns a Cursor [ ] ,  list it to see the content
list (db.list_collections())
# empty list '[]' means that there are not collections in database

[{'name': 'startup_log',
  'type': 'collection',
  'options': {'capped': True, 'size': 10485760},
  'info': {'readOnly': False,
   'uuid': UUID('8dc84e3f-b0f7-4cd5-aa28-6d5aa9b2f3cc')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'adressbook',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('b19b1f29-1648-438f-b7db-fb584f22c14e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [11]:
# Set the collection to work with
collection = db.adressbook
collection.insert_one({'name' : 'jordi'})     # Insert one item to create the collection
list (collection.find())                  # Show the existing collections

[{'_id': ObjectId('632953a1fee4954d8484c84a'), 'name': 'jordi'}]

In [19]:
# Rename a collections
db.adressbook.rename('addressbook')
collection = db.addressbook                   # Set the collection to work with
list (db.list_collections())                  # Show the existing collections

[{'name': 'startup_log',
  'type': 'collection',
  'options': {'capped': True, 'size': 10485760},
  'info': {'readOnly': False,
   'uuid': UUID('8dc84e3f-b0f7-4cd5-aa28-6d5aa9b2f3cc')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}},
 {'name': 'addressbook',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': UUID('b19b1f29-1648-438f-b7db-fb584f22c14e')},
  'idIndex': {'v': 2, 'key': {'_id': 1}, 'name': '_id_'}}]

In [20]:
# Delete collection
db.drop_collection('addressbook')

{'nIndexesWas': 1, 'ns': 'local.addressbook', 'ok': 1.0}

# 5. Basic Collection operations

## 5.1 Query Operators - Create Read Update Delete  (one document)

### 5.1.1 Create a document with:  insert_one()

To insert a document can be done using: insert_one and JavaScript notation  { 'attributeName1'  :  'content1', 'attributeName2'  :  'content2', ... }

In [22]:
#@title Contact

Name = "Jordi " #@param {type:"string"}
Age = 34 #@param {type:"slider", min:10, max:80, step:1}
Gender = "Male" #@param ["Male", "Female"]
Likes_Python = "Yes" #@param ["Yes", "No"]
if Likes_Python == "Yes":
  Likes_Python = True
else:
  Likes_Python = False


#@markdown Address
Street = "Torrent de l'Olla" #@param {type:"string"}
Number = 70 #@param {type:"integer"}
City = "Barcelona" #@param {type:"string"}
PostalCode = "08012" #@param {type:"string"}

In [23]:
data = {  'name' : Name ,                                    # String 
          'age' : Age,                                       # Integer
          'gender' : Gender,                                 # String 
          'likes_python' : Likes_Python,                     # Boolean
          'address': {
              'street' : Street,                             # String ( special character with escape \ )
              'number' : Number,                             # Integer
              'city' : City,                                 # String 
              'floor' : None,                                # Null 
              'postalcode' : PostalCode,                     # String containing a number
              },
          'favouriteFruits': ['banana','pineapple','orange'] # Array        
       }

insert_result = collection.insert_one( data)

In [24]:
insert_result.acknowledged    # Confirms that insert is successful

True

In [25]:
insert_result.inserted_id     # Shows the document ID

ObjectId('63295491fee4954d8484c84c')

### 5.1.2 Read document with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [26]:
list ( collection.find() )                                      # gets all data of collection

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 34,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [27]:
list ( collection.find( {'_id' : insert_result.inserted_id } ))  # Find the inserted document using the objectID

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 34,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [28]:
list ( collection.find( {'name' : Name } ))                     # find, can use one key or more

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 34,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [29]:
list ( collection.find( {'address.city' : City } ))             # find, can use one key or more

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 34,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [30]:
list ( collection.find().limit(1) )                             # gets a Limited set of documents

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 34,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [31]:
list ( collection.find().skip(1) )                              # gets all documents skipping first

[]

### 5.1.3 Update a document with:  update_one()

In [32]:
## Update an existing document
update_result = collection.update_one( 
    {'name' : Name}, 
    {'$set' : { 'age' : 30 }} ) 

list (collection.find( {'name' : Name } ))

# Alternative : collection.find_one_and_update( {'name' : Name}, {'$set' : { 'age' : 30 }} )

[{'_id': ObjectId('63295491fee4954d8484c84c'),
  'name': 'Jordi ',
  'age': 30,
  'gender': 'Male',
  'likes_python': True,
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'city': 'Barcelona',
   'floor': None,
   'postalcode': '08012'},
  'favouriteFruits': ['banana', 'pineapple', 'orange']}]

In [33]:
update_result.raw_result

{'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}

In [34]:
## Insert a new document with update, will avoid to crash during insert if document already exist
insert_result = collection.update_one( {'name' : 'Javi Gonzalez'}, {'$set' : { 'age' : 30 }}, upsert= True )
list (collection.find( {'name' : 'Javi Gonzalez'} ))

[{'_id': ObjectId('632954a794c8b8c03ee7f5f5'),
  'name': 'Javi Gonzalez',
  'age': 30}]

In [35]:
update_result.acknowledged

True

### 5.1.4 Delete a document with:  delete_one()

In [36]:
delete = collection.delete_one({'name': 'Javi Gonzalez'})

In [37]:
delete.deleted_count   # informs that 1 document has been deleted

1

In [38]:
collection.delete_one({'name': Name})

## 5.2 Create Read Update Delete  (many document)

### 5.2.1 Create a document with:  insert_many()

To insert many documents can be done using: insert_many and JavaScript notation  { 'attributeDocument1'  :  'content1' } , { 'attributeDocument2'  :  'content2'},{ ... }

In [39]:
import datetime
collection.insert_many(  [                          # <---- start a list with [
##  Insert Document 1
  {
  'name': 'Jordi Gonzalez',
  'age': 25,
  'likes_python': True,
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39),
  'address': {
      'street': 'Torrent de l\'Olla',
      'number': 70,
      'floor': None,
      'city': 'Barcelona',
      'postalCode': '08012'
             },
  'height':  1.72,
  'favouriteFruits': ['banana','pineapple','orange']
  },

##  Insert Document 2
  {
  'name': 'Maria Smith',
  'age': 30,
  'likes_python': True,
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12),
  'address': {
      'street': 'Numancia',
                                                     ##  missing number
                                                     ##  missing floor
      'city': 'Barcelona',
      'postalCode': '08029'
             },
  'height':  1.56,
  'favouriteFruits': ['lemon','pineapple']
  }
  ]   )                                                   # <---- finalize the list ]

### 5.2.2 Read many documents with:  find()

To read a document can be done using: find and JavaScript notation  {  'attribute1 containing the key'  :  'key1 to find' }

In [40]:
list ( collection.find( {'$or': [ {'name': 'Jordi Gonzalez'},{'name': 'Maria Smith'} ]}))        # find

[{'_id': ObjectId('632954b0fee4954d8484c84d'),
  'name': 'Jordi Gonzalez',
  'age': 25,
  'likes_python': True,
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39),
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'floor': None,
   'city': 'Barcelona',
   'postalCode': '08012'},
  'height': 1.72,
  'favouriteFruits': ['banana', 'pineapple', 'orange']},
 {'_id': ObjectId('632954b0fee4954d8484c84e'),
  'name': 'Maria Smith',
  'age': 30,
  'likes_python': True,
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12),
  'address': {'street': 'Numancia',
   'city': 'Barcelona',
   'postalCode': '08029'},
  'height': 1.56,
  'favouriteFruits': ['lemon', 'pineapple']}]

### 5.2.3 Update many documents with:  update_many()

In [41]:
collection.update_many( {'isActive': True }, {'$set' : { 'isActive': False }} )
list (collection.find( ))                                  # List all documents

[{'_id': ObjectId('632954b0fee4954d8484c84d'),
  'name': 'Jordi Gonzalez',
  'age': 25,
  'likes_python': True,
  'registered': datetime.datetime(2015, 2, 11, 4, 22, 39),
  'address': {'street': "Torrent de l'Olla",
   'number': 70,
   'floor': None,
   'city': 'Barcelona',
   'postalCode': '08012'},
  'height': 1.72,
  'favouriteFruits': ['banana', 'pineapple', 'orange']},
 {'_id': ObjectId('632954b0fee4954d8484c84e'),
  'name': 'Maria Smith',
  'age': 30,
  'likes_python': True,
  'registered': datetime.datetime(2016, 4, 23, 7, 34, 12),
  'address': {'street': 'Numancia',
   'city': 'Barcelona',
   'postalCode': '08029'},
  'height': 1.56,
  'favouriteFruits': ['lemon', 'pineapple']}]

###5.2.4 Delete many documents with:  delete_many()

In [42]:
delete = collection.delete_many({'likes_python': True})    # deletes as many documents as the filter
list (collection.find( ))                                  # List all documents

[]

In [43]:
delete.deleted_count   # items deleted

2